{
    "EnableCache":false,
    "EnableRequestLog":true,
    "LogFilePath":"C:\\Users\\dxn\\Documents\\ProxyLog",
    "ServerName":"PWMIS ASP.NET Proxy,Ver 1.0",
    "RouteMaps":[
          {
          "Prefix":"/api/",
          "Host":"localhost:62477",
          "Match":"",
          "Map":null
          },
          {
          "Prefix":"/api2/",
          "Host":"localhost:8018",
          "Match":"/api2/",
          "Map":"/"
          }
    ]
}