# ======PWMIS API Gateway Proxy,Ver 1.1 ==================
# ======PWMIS API网关代理配置，版本 1.1 ==================
#
# 注释说明：每行第一个非空白字符串是#，表示这行是一个注释
# 版本说明：
# Ver 1.0：
# * 实现API网关代理与OAuth2.0 的集成
# * OAuth2.0 授权与认证服务实现相分离的架构
# Ver 1.1：
# * 为每一个目标主机使用相同的HttpClient对象，并且保持长连接，优化网络访问效率
# * 网关访问资源服务器，支持连接会话保持功能，使得资源服务器可以使用自身的会话状态
# * 资源服务器 由 /api/ ，/api2/ 增加到 /api3/
#
# 全局配置：
# EnableCache: 是否支持缓存，值为 false/true，但当前版本不支持
# EnableRequestLog: 是否开启请求日志，值为 false,true
# LogFilePath: 请求日志文件保存的目录
# ServerName: 代理服务器名字
# UnauthorizedRedir:目标API地址访问未授权，是否跳转，值为 false,true。
#                   如果跳转，将跳转到OAuthRedirUrl 指定的页面，如果不跳转，会直接抛出 HTTP Statue Unauthorized
# OAuthRedirUrl:未授权要跳转的地址，通常为网关的登录页
# RouteMaps:路由项目配置清单
#
# 路由项目配置：
  # Prefix:要匹配的API Url 前缀。注意，如果配置文件配置了多个路由项目，会按照配路由项目的顺序依次匹配，直到不能配置为止，
  #         所以理论上可以对一个Url进行多次匹配和替换，请注意路由项目的编排顺序
  # Host:  匹配后，要访问的目标主机地址，比如 "localhost:62477"
  # Match: 匹配该路由项目后，要对Url 内容进行替换的要匹配的字符串
  # Map:   匹配该路由项目后，要对Url Match的内容进行替换的目标字符串
#

{
"EnableCache":false,
"EnableRequestLog":true,
"LogFilePath":"C:\\WebApiProxyLog",
"ServerName":"PWMIS ASP.NET Proxy,Ver 1.1",
"UnauthorizedRedir":false,
"OAuthRedirUrl":"http://localhost:62424/Logon",

"RouteMaps":
  [
    {
      "Prefix":"/api/",
      "Host":"localhost:62477",
      "Match":"",
      "Map":null
    },
    # 授权服务器配置
    {
      "Prefix":"/api/token",
      "Host":"localhost:60186",
      "Match":"",
      "Map":null
    },
    {
      "Prefix":"/api/AccessToken",
      "Host":"localhost:60186",
      "Match":"",
      "Map":null
    },
    # 登录验证码配置
    {
      "Prefix":"/api/Login/CreateValidate",
      "Host":"localhost:50697",
      "Match":"/api/",
      "Map":"/"
    },
    {
      "Prefix":"/api2/common/GetValidationCode",
      "Host":"localhost:8088",
      "Match":"/api2/",
      "Map":"/"
    },
    # 其它资源服务器配置
    {
      "Prefix":"/api2/",
      "Host":"localhost:8018",
      "Match":"/api2/",
      "Map":"/"
    }
  ]
}