{
"EnableCache":false,
"EnableRequestLog":true,
"LogFilePath":"C:\\WebApiProxyLog",
"ServerName":"PWMIS ASP.NET Proxy,Ver 1.0",
"OAuthRedirUrl":"http://localhost:62424/Logon",
"RouteMaps":[
{
"Prefix":"/api/",
"Host":"localhost:62477",
"Match":"",
"Map":null
},
{
"Prefix":"/api/token",
"Host":"localhost:60186",
"Match":"",
"Map":null
},
{
"Prefix":"/api/AccessToken",
"Host":"localhost:60186",
"Match":"",
"Map":null
},
{
"Prefix":"/api2/Login/CreateValidate",
"Host":"localhost:61001",
"Match":"/api2/",
"Map":"/api/"
},
{
"Prefix":"/api2/",
"Host":"localhost:8018",
"Match":"/api2/",
"Map":"/"
}
]
}