<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientID" value="PWMIS OAuth2 Client1"/>
    <add key="ClientSecret" value="1234567890"/>
    <!--授权服务器地址-->
    <add key="Host_AuthorizationCenter" value="http://localhost:60186"/>
    <!--资源服务器地址-->
    <add key="Host_Webapi" value="http://localhost:62424"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>