<div class="jumbotron">
    <h1>Demo OAuth2 WebAPI</h1>
    <p class="lead">OAuth 2.0 Resource Server</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>资源服务器</h2>
        <p>此服务器将作为 OAuth 2.0 协议中的资源服务器角色，为 Demo.OAuth2.Port 提供WebAPI 服务。</p>
        <p><a class="btn btn-default" href="http://www.cnblogs.com/bluedoctor/">Learn more &raquo;</a></p>
    </div>
   
</div>
