{
"EnableCache":false,
"EnableRequestLog":true,
"LogFilePath":"C:\\Users\\dxn\\Documents\\ProxyLog",
"ServerName":"PWMIS-ProxyServer",
"OAuthRedirUrl":"http://localhost:62424/Logon",
"RouteMaps":[
{
"Prefix":"/api/",
"Host":"localhost:62477",
"Match":"",
"Map":null
},
{
"Prefix":"/api2/",
"Host":"localhost:8018",
"Match":"/api2/",
"Map":"/"
}
]
}