@{
    //Layout = null;
    ViewBag.Title = "修改密码";
}
<script type="text/javascript">

    function changepwd() {
        var uid = $("#uid").val();
        var pwd = $("#pwd").val();

        $.ajax({
            type: "post",
            url: "/api/Logon/ChangePassword",
            data: {
                UserName: uid,
                Password: pwd
            },
            dataType: "json",
            success: function (r) {                
                if (r.UserName == "" || r.UserName==null) {
                    alert("登录错误：" + r.LogonMessage);
                } else {

                    alert(r.UserName + "登录成功！");
                    window.location.href = "/Home/Biz";
                }
            }
        });
    }

</script>
<h3>  Change your account</h3>
<div class="col-sm-9 col-md-9">
    <div class="form-group">
        用户名：<input type="text" name="LoginId" id="uid" />
    </div>
    <div class="form-group">
        密码：<input type="password" name="Loginpwd" id="pwd" />
    </div>
    <div class="form-group">
        <input type="submit" value="修改密码" onclick="changepwd()" /><br />
    </div>
</div>
